{% extends "base.html" %}
{% block title %}
    <title>Title</title>
{% endblock %}

{% block content %}
            <div class="border border-5 col-6 m-auto mt-5 p-2">
                <h3 class="text-info text-center mb-3">Student Information</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" class="btn btn-primary col-4">
                    <input type="reset" value="Clear" class="btn btn-primary col-3 float-end">
                </form>
            </div>
{% endblock %}